# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# SSH key
milestoneprojectawskey.pem

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

/backend/node_modules
/backend/.env

# testing
/coverage

# production
/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
